page-status {

    .status-text {
        text-align:center;
        color:white;
    }

    .status-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        margin-top:20%;
    }

}
