page-status {

    .status-text {
        margin-top: -175px;
        font-size: 16px; 
        text-align:center;
        color: white;
    }

    .accept{
        width:70%; 
        height: 400px;
        background: transparent;
        margin-left:15%;
        margin-bottom:10px;
        margin-top:10px;
    }

    .status-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top:15px;
        width: 95%;
    }

}
